
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Create Routine</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Start of header -->
    <div class="header-container">
        <div class="header">
            <h1>Routine Fitness</h1>
        </div>
    </div>
    <!-- End of header -->
    <!-- Start in Navigation -->
    <div class="navigation-container">
        <div class="navigation">
            <a asp-action="MuscleGroups">Muscle Groups</a>
            <a asp-action="SearchRoutines">Search Routines</a>
            <a asp-action="SavedRoutines">Saved Routines</a>
            <a id="navigation-active" asp-action="CreateRoutine">Create Routine</a>
        </div>
    </div>
    <!-- End of Navigation -->
    <!-- Start of content -->
    <div class="content-container">
        <div class="content-grid">
            <div class="content-item legs">
                <figure>
                    <a href="crLegs.html">
                        <img src="MuscleGroupIcons/legs.png">
                        <figcaption>Legs</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item calves">
                <figure>
                    <a href="Calves.html">
                        <img src="MuscleGroupIcons/calves.png">
                        <figcaption>Calves</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item glutes">
                <figure>
                    <a href="Glutes.html">
                        <img src="MuscleGroupIcons/glutes.png">
                        <figcaption>Glutes</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item abs">
                <figure>
                    <a href="Abs.html">
                        <img src="MuscleGroupIcons/abs.png">
                        <figcaption>Abs</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item chest">
                <figure>
                    <a href="Chest.html">
                        <img src="MuscleGroupIcons/chest.png">
                        <figcaption>Chest</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item biceps">
                <figure>
                    <a href="Biceps.html">
                        <img src="MuscleGroupIcons/biceps.png">
                        <figcaption>Biceps</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item forearms">
                <figure>
                    <a href="Forearms.html">
                        <img src="MuscleGroupIcons/forearms.png">
                        <figcaption>Forearms</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item triceps">
                <figure>
                    <a href="Triceps.html">
                        <img src="MuscleGroupIcons/triceps.png">
                        <figcaption>Triceps</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item back">
                <figure>
                    <a href="Back.html">
                        <img src="MuscleGroupIcons/back.png">
                        <figcaption>Back</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item shoulders">
                <figure>
                    <a href="Shoulders.html">
                        <img src="MuscleGroupIcons/shoulders.png">
                        <figcaption>Shoulders</figcaption>
                    </a>
                </figure>
            </div>
        </div>
        <div class="add-lift-menu">
            test
        </div>
    </div>
    <!-- End of content -->
</body>
</html>
