@{
    Layout = null;
}

<!DOCTYPE html>

<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Routine Fitness</title>
    <link rel='stylesheet' href='~/css/styles.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Start of header -->
    <div class="header-container">
        <div class="header">
            <h1>Routine Fitness</h1>
        </div>
    </div>
    <!-- End of header -->
    <!-- Start of index buttons -->
    <div class="index-buttons-container">
        <div class="index-buttons">
            <a asp-action="LogIn">Log In</a><br>
            <a asp-action="SignUp">Sign up</a><br>
            <a asp-action="MuscleGroups">Skip</a><br>
        </div>
    </div>
    <!-- End of Index buttons -->
</body>
</html>
