@{ 
    Layout = "_Layout";
}
    <!-- Start of index buttons -->
    <div class="index-buttons-container">
        <div class="index-buttons">
            <a asp-action="LogIn">Log In</a><br>
            <a asp-action="SignUp">Sign up</a><br>
            <a asp-action="MuscleGroups">Skip</a><br>
        </div>
    </div>
    <!-- End of Index buttons -->
