@{ 
    Layout = "_Layout";
}
    <!-- Start of index buttons -->
    <div class="index-buttons-container">
        <div class="index-buttons">
            <a asp-controller="Account" asp-action="Login">Log In</a><br>
            <a asp-controller="CreateAccount" asp-action="Create">Sign up</a><br>
            <a asp-controller="Lift" asp-action="Muscle">Skip</a><br>
        </div>
    </div>
    <!-- End of Index buttons -->
