
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Log In</title>
    <link rel='stylesheet' href='~/css/styles.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Start of header -->
    <div class="header-container">
        <div class="header">
            <h1>Routine Fitness</h1>
        </div>
    </div>
    <!-- End of header -->
    <!-- Start of form -->
    <div class="login-form">
        <form asp-action="MuscleGroups">
            Username:
            <input type="text" name="Username"><br>
            Password:
            <input type="password" name="Password"><br>
            <button type="submit">Log In</button>
        </form>
    </div>
    <!-- End of form -->
</body>
</html>
