
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Legs</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Start of header -->
    <div class="header-container">
        <div class="header">
            <h1>Routine Fitness</h1>
        </div>
    </div>
    <!-- End of header -->
    <!-- Start in Navigation -->
    <div class="navigation-container">
        <div class="navigation">
            <a id="navigation-active" href="MuscleGroups.html">Muscle Groups</a>
            <a href="SearchRoutines.html">Search Routines</a>
            <a href="SavedRoutines.html">Saved Routines</a>
            <a href="CreateRoutine.html">Create Routine</a>
        </div>
    </div>
    <!-- End of Navigation -->
    <!-- Start of back button -->
    <div class="backbutton-container">
        <div class="backbutton">
            <a href="MuscleGroups.html"> < &nbsp Back </a>
        </div>
    </div>
    <!-- End of Back button -->
    <!-- Start of content -->
    <div class="content-container">
        <div class="content-grid">
            <div class="content-item legs">
                <figure>
                    <a href="http://www.google.com">
                        <img src="MuscleGroupIcons/Legs.jpg">
                        <figcaption>Squats</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item calves">
                <figure>
                    <img src="MuscleGroupIcons/Legs.jpg">
                    <figcaption>Front Squats</figcaption>
                </figure>
            </div>
            <div class="content-item glutes">
                <figure>
                    <img src="MuscleGroupIcons/Legs.jpg">
                    <figcaption>Barbell Lunge</figcaption>
                </figure>
            </div>
            <div class="content-item abs">
                <figure>
                    <img src="MuscleGroupIcons/Legs.jpg">
                    <figcaption>Straight Leg Deadlift</figcaption>
                </figure>
            </div>
            <div class="content-item chest">
                <figure>
                    <img src="MuscleGroupIcons/Legs.jpg">
                    <figcaption>Leg Press</figcaption>
                </figure>
            </div>
            <div class="content-item biceps">
                <figure>
                    <img src="MuscleGroupIcons/Legs.jpg">
                    <figcaption>Leg Extension</figcaption>
                </figure>
            </div>
            <div class="content-item forearms">
                <figure>
                    <img src="MuscleGroupIcons/Legs.jpg">
                    <figcaption>Seated Leg Curls</figcaption>
                </figure>
            </div>
            <div class="content-item triceps">
                <figure>
                    <img src="MuscleGroupIcons/Legs.jpg">
                    <figcaption>Bulgarian Split Squat</figcaption>
                </figure>
            </div>
            <div class="content-item back">
                <figure>
                    <img src="MuscleGroupIcons/Legs.jpg">
                    <figcaption>Dumbell Lunges</figcaption>
                </figure>
            </div>
            <div class="content-item shoulders">
                <figure>
                    <img src="MuscleGroupIcons/Legs.jpg">
                    <figcaption>Cable Leg Curls</figcaption>
                </figure>
            </div>
            <div class="content-item shoulders">
                <figure>
                    <img src="MuscleGroupIcons/Legs.jpg">
                    <figcaption>Cable Leg Curls</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <!-- End of content -->
</body>
</html>