
@{
    Layout = "_LayoutTwo";
}

    <!-- Start of content -->
    <div class="content-container">
        <div class="content-grid">
            <div class="content-item legs">
                <figure>
                    <a asp-controller="Lift" asp-action="Muscle">
                        <img src="~/images/legs.png">
                        <figcaption>Legs</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item calves">
                <figure>
                    <a href="Calves.html">
                        <img src="~/images/calves.png">
                        <figcaption>Calves</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item glutes">
                <figure>
                    <a href="Glutes.html">
                        <img src="~/images/glutes.png">
                        <figcaption>Glutes</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item abs">
                <figure>
                    <a href="Abs.html">
                        <img src="~/images/abs.png">
                        <figcaption>Abs</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item chest">
                <figure>
                    <a href="Chest.html">
                        <img src="~/images/chest.png">
                        <figcaption>Chest</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item biceps">
                <figure>
                    <a href="Biceps.html">
                        <img src="~/images/biceps.png">
                        <figcaption>Biceps</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item forearms">
                <figure>
                    <a href="Forearms.html">
                        <img src="~/images/forearms.png">
                        <figcaption>Forearms</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item triceps">
                <figure>
                    <a href="Triceps.html">
                        <img src="~/images/triceps.png">
                        <figcaption>Triceps</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item back">
                <figure>
                    <a href="Back.html">
                        <img src="~/images/back.png">
                        <figcaption>Back</figcaption>
                    </a>
                </figure>
            </div>
            <div class="content-item shoulders">
                <figure>
                    <a href="Shoulders.html">
                        <img src="~/images/shoulders.png">
                        <figcaption>Shoulders</figcaption>
                    </a>
                </figure>
            </div>
        </div>
    </div>
    <!-- End of content -->

