@model IEnumerable<Workout>

@{
    Layout = "_LayoutTwo";
}


<!-- Search form -->
<form class="form-inline " asp-action="Search">
    <input class="form-control form-control-sm w-75" style="margin-right: 1px" type="search" placeholder="Search" name="searchInput"
           aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
</form>

@if (Model != null)
{
    <div class="text-center m-auto" style="width: 50%; height: 50%">
        <ul class="list-group list-group-flush list-inline">
            @foreach (var w in Model.Distinct())
            {
                <li class="list-group-item" style="background-color: transparent">
                    <a asp-action="ShowList" asp-controller="Activity" asp-route-listActivities="@w.WorkoutId">@w.WorkoutName</a>
                    <form asp-action="AddFavorite" method="post">
                        <input type="hidden" name="workoutId" value="@w.WorkoutId" />
                        <input type="hidden" name="workoutName" value="@w.WorkoutName" />
                        <button type="submit" class="btn btn-dark btn-sm mx-4">Save</button>
                    </form>

                </li>
            }
        </ul>
    </div>
}




