

@{
    ViewData["Title"] = "LiftDetail";
    Layout = "~/Views/Shared/_LayoutTwo.cshtml";
}

<form asp-action="ShowList" asp-controller="CustomWorkout" method="post">
    <div style="text-align: center">
        <input type="hidden" name="liftName" value="@ViewBag.LiftName" />
        <input type="hidden" name="liftId" value="@ViewBag.LiftId" />
        <input type="hidden" name="workoutId" value="@ViewBag.WorkoutId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <label>Sets</label>
        <input type="text" name="sets" value="" /><br />
        <label>Reps</label>
        <input type="text" name="reps" value="" /><br />
        <label>Weight</label>
        <input type="text" name="weight" value="" /><br />
        <label>Notes</label>
        <input type="text" name="note" value="" /><br />
        <button class="btn btn-primary" type="submit">Add Lift</button>
    </div>
    
</form>