

@{
    ViewData["Title"] = "LiftDetail";
    Layout = "~/Views/Shared/_LayoutTwo.cshtml";
}

    @*<div style="text-align:center">
        @if (true)
        {
            
            <form asp-action="SetWorkoutNameIdUser" asp-controller="CreateRoutine" method="post">
                
                <input type="text" name="WorkoutName" />
                <button class="btn btn-primary" type="submit">Create Routine</button>
            </form>
        }
        else
        {
          


            

            <a asp-action="AddRoutine" asp-route-list="">Save Routine</a>
            <a asp-action="RemoveWorkout" class="btn btn-warning">Cancle</a>
        }
    </div>*@