@using RoutineFitness
@using RoutineFitness.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>

<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Routine Fitness</title>
    <link rel='stylesheet' href='~/css/styles.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Start of header -->
    <div class="header-container">
        <div class="header">
            <h1>Routine Fitness</h1>
        </div>
    </div>
    <!-- End of header -->
</body>
</html>