@model CreateUserModel

@{
    Layout = "_Layout";
}

    <!-- Start of form -->

    <div class="d-flex justify-content-center p-3">
        
        <form asp-action="Create" method="post">
            <div asp-validation-summary=" All" style="color: red"></div>
            <div class="form-group">
                <label asp-for="UserName"></label><br />
                <input class="form-control" asp-for="UserName" />
            </div>
            <div class="form-group">
                <label asp-for="Password"></label><br />
                <input class="form-control" type="password" asp-for="Password" />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label><br />
                <input class="form-control" asp-for="Email" />
            </div>
            <button class="btn btn-primary" type="submit">Create Account</button>
            <a asp-controller="Lift" asp-action="Muscle" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
        <!-- End of form -->
