*{
	margin: 0;
	padding: 0;
	background-color: #EEEEEE;
	box-sizing: border-box;
}

.header-container{
	background-color: #ff8000;	
	padding: 10px 0;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: center;
}

.header{
	background-color: #ff8000;	
	font-size: 3em;
	display: flex;
	justify-content: space-around;
}

.header h1{
	background-color: #ff8000;
}

.index-buttons-container{
	display: flex;
	justify-content: center;
}

.index-buttons{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 50px;
}

.index-buttons a{
	background-color: #ff8000;
	border: 1px solid black;
	text-decoration: none;
	color: black;
	margin: 20px;
	padding: 30px 60px;
	font-size: 3em;
	display: flex;
	justify-content: center;
}

.login-form {
	display: flex;
	justify-content: center;
}


.login-form form{
	display: flex;
	flex-direction: column;
	margin: 100px;
	font-size: 2em;
}

.login-form input{
	background-color: white;
	width: 400px;
	height: 60px;
	font-size: 1.3em
}

.login-form button{
	background-color: #ff8000;
	font-size: 1.7em;
	padding: 10px 0px;
}

.navigation-container{
	padding: 10px 0;
	display: flex;
	justify-content: center;
}

.navigation{
	
	display: flex;
	justify-content: center;
	flex: 1;
	text-align: center;
}

.navigation a{
	text-decoration: none;
	color: black;
	font-size: 1.5em;
	background-color: #ff8000;
	border: 1px solid black;
	padding: 20px 40px 20px 40px;
}

.navigation a:hover {
	background-color: #F1C94D;
	transition: .8s;

}

#navigation-active {
	text-decoration: underline;
	color: black;
}

.main-body-container {	
	display: flex;
	justify-content: center;
}

.backbutton-container{
	display: flex;
	justify-content: center;
	justify-content: space-between;
}

.backbutton {
	display: flex;
	justify-content: flex-start;
	margin-left: 40px;
}

.backbutton a{
	text-decoration: none;
	color: black;
}

.logout-button{
	display: flex;
	justify-content: flex-end;
	margin-right: 40px;
}

.logout-button a{
	text-decoration: none;
	color: black;
}

.main-body{
	width: 800px;
	display: flex;
	justify-content: center;
	justify-content: space-between;
}


.content-container{
	display: flex;
	justify-content: center;
}

.content-grid{
	max-width: 600px;
	display: flex;
	justify-content: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 10px;
}

.content-item{
	width: 200px;
	height: 200px;
	margin: 10px;
	display: flex;
	justify-content: center;
}

.content-item:hover {
	border: 1px solid black;
}

.content-item img{
	width: 170px;
	height: 170px;
	}

.content-item figure{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.content-item a {
	text-decoration: none;
	color: black;
}

.add-lift-menu{
	padding: 5px;
	border-left: 1px solid black;
	display: flex;
	font-size: 1.5em;
	width: 250px;
	margin-left: 20px;
	padding-top: 10px;
	padding-left: 20px;
}



