<!DOCTYPE html>

<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet' href='~/css/styles.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    <title>Routine Fitness</title>
</head>
<body>
    <!-- Start of header -->
    <div class="header-container">
        <div class="header">
            <h1>Routine Fitness</h1>
        </div>
    </div>
    <!-- End of header -->
    @RenderBody()
</body>
</html>

