@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>

<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet' href='~/css/styles.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Routine Fitness</title>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.display = "block";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.display = "none";
        }
    </script>
</head>
<body>

    <!-- Start of header -->
    <div class="header-container">
        <div class="header">
            <h1>Routine Fitness</h1>
        </div>
    </div>
    <!-- End of header -->
    @if (signInManager.IsSignedIn(User))
    {
        <form method="post" asp-action="Logout" asp-controller="Account">
            <button type="submit">Logout @User.Identity.Name</button>
        </form>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">LogIn</a>
        <a asp-controller="CreateAccount" asp-action="Create">Register</a>
    }
    <!-- Menu needs Logout/login, Account settings, View Saved workouts, Search workouts, register 
         Muscle Groups and Create Routine can be toggle buttons-->
    <!-- Start in Navigation -->
    <div class="navigation-container">
        <div class="navigation">
            <a asp-controller="Lift" asp-action="Muscle">Muscle Groups</a>
            <a asp-controller="SavedWorkout" asp-action="Search">Search Routines</a>
            <a asp-controller="SavedWorkout" asp-action="SavedWorkout">Saved Routines</a>
            <a asp-action="Index" asp-controller="CreateRoutine">Create Routine</a>
        </div>
    </div>
    <div style="text-align:center"> @await Component.InvokeAsync("NavigationMenu")</div>
    <!-- End of Navigation -->
    <div>
        @RenderBody()
    </div>

</body>
</html>

